<!DOCTYPE html>


<html lang="en">

<head>
    <title>Dell</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .dell_lite {
            background-color: #007EB9;
            padding-top: 50px;
            padding-left: 300px;
        }

        div.a {
            text-align: center;
            font-family: "Roboto";
            font-style: bold;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .hero-image {
            background-color: white;
            height: 695px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin: auto;
        }

        .container {
            position: relative;
        }

        .topleft {
            position: absolute;
            top: 70px;
            left: 5px;
            font-size: 18px;
        }

        #dell_logo {
            margin-top: 100px;
            margin-left: -350px;
        }

        #text-white {
            padding-left: 20px;
            color: white;
            font-family: sans-serif;
            font-weight: 600;
            padding-top: 20px;
        }

        .zoom {

            transition: transform .2s;

        }

        .zoom:hover {

            transform: scale(1.1);
        }
    </style>
</head>

<html>

<body>

    <div class="hero-image">
        <div class="dell_lite border shadow">

            <img src="./css/dellite logo.png" class="float-left mr-4 shadow" alt="LOGO" width="120" height="120"
                style="margin-left: 70px;">

            <h1 id="text-white"> RECOMMENDATION SYSTEM</h1>
        </div>
        <div class="a">
            <div class="container">
                <a href="/login">
                    <img src="./css/Logo.svg.png" id="dell_logo" class="zoom">
                </a>
            </div>
        </div>

    </div>
</body>

</html>