<% include ./partials/header %>
<style>
    nav {
        background-color: #007DB8;
    }

    .brand {
        color: white;
    }

    .drop:active {
        color: white;
    }

    .dir {
        color: black;
    }

    .drop:hover {
        color: white;
    }

    .navbar-brand {
        margin-left: 100px;
        margin-right: 70px;
    }
</style>
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand brand" href="#">Dell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="dropdown">
                <a class="nav-link dropdown-toggle brand  drop" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu brand" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item " href="/dell/student">Student Laptops</a>
                    <a class="dropdown-item " href="/dell/pro">Professional Laptops</a>
                    <a class="dropdown-item " href="/dell/gaming">Gaming Laptops</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<% include ./partials/footer %>