<% include ./partials/header %>
<style>
    body {
        background-image: url("./css/5.jpg");

        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        margin-top: 10%;
        width: 45%;
    }

    #text-white {
        padding-left: 20px;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
        padding-top: 20px;
        text-align: center;
    }

    .dell_lite {
        background-color: #007EB9;
        border: #007EB9 1px solid;
    }

    #box {
        background-color: #bfbfbf;
        padding: 2em;
        border-radius: 10px;
        margin-top: -30px;
        padding-bottom: 1em;
    }

    a:hover {
        text-decoration: none;
    }

    #pop {
        color: green;
    }
</style>
<div class="dell_lite border shadow">


    <h1 id="text-white"> Login</h1>
    <h3 style="color:white;text-align:center;font-family: comic 'Times New Roman', Times, serif;">For personalised
        recommendations </h3>
</div>
<% if(log){ %>
<p id="pop">Registration Successful</p>
<% } %>
<div class="container">
    <div id="box">
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="text" name="username" class="form-control shadow" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control shadow" placeholder="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
        <p>New User?<a href="/signup">Signup</a> <span><a href="#" style="float:right">Skip to dell.com</a></span></p>
        <a href="/home">Back to Home Page</a>
    </div>
</div>
<% include ./partials/footer %>