<% include ./partials/header %>
<style>
    body {
        background-image: url("./css/5.jpg");

        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        margin-top: 10%;
        width: 45%;
    }

    #text-white {
        padding-left: 20px;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
        padding-top: 20px;
        text-align: center;
    }

    .dell_lite {
        background-color: #007EB9;
        border: #007EB9 1px solid;
    }

    #box {
        background-color: #bfbfbf;
        padding: 2em;
        border-radius: 10px;
        margin-top: -60px;
        padding-bottom: 1em;
    }

    a:hover {
        text-decoration: none;
    }
</style>
<div class="dell_lite border shadow">


    <h1 id="text-white">Signup</h1>

</div>
<div class="container">
    <div id="box">
        <form action="/signup" method="POST">
            <div class="form-group">
                <input type="text" name="name" class="form-control shadow" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" name="username" class="form-control shadow" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control shadow" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="number" name="age" class="form-control shadow" placeholder="Age">
            </div>
            <div class="form-group">
                <textarea class="form-control shadow" name="address" placeholder="Address"></textarea>

            </div>

            <div class="form-group">
                <input type="text" name="city" class="form-control shadow" placeholder="City">
            </div>
            <div class="form-group">
                <input type="text" name="pincode" class="form-control shadow" placeholder="Pincode">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/login">Back</a>
    </div>
</div>
<% include ./partials/footer %>